<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banned</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center mt-5" 
      style="background-image: url('{{ url_for('static', filename='img/clash-royale-king-yyzgc9cg40ctg6vz.jpg') }}'); 
             background-size: cover; 
             background-repeat: no-repeat;">

    <h1 style="filter: drop-shadow(0 0 3.5rem crimson);">You are banned!</h1>
    <p><strong>Access denied for your IP.</strong></p>
    <img src="{{ url_for('static', filename='img/pngimg.com - fortnite_PNG122.png') }}"  
         alt="Banned Image">
</body>
</html>
