{% extends "base.html" %} 
{% block title %}Home{% endblock %} 

{% block head%} 
<style>  
h1 {color: rgb(0, 255, 64); filter: drop-shadow(0 0 0.75rem rgb(0, 255, 76));} 
h2 {color: rgb(0, 174, 243); filter: drop-shadow(0 0 0.75rem rgb(97, 97, 97));} 
h3 {color:rgb(255, 0, 200); filter: drop-shadow(0 0 0.75rem rgb(225, 0, 255));}
</style> 
{% endblock %} 

{% block body%} 
{% with messages = get_flashed_messages() %} 
{% for message in messages %} 
<div class="alert alert-success" role="alert">
  {{message}}
</div>
{% endfor %} 
{% endwith %} 



</head> 
<body class="d-flex flex-column justify-content-center align-items-center vh-20 text-center" data-bs-theme="dark"> 

    

<!-- Background video --> 
<video id="bg-video" autoplay muted loop playsinline preload="auto"> 
    <source src="https://backgroundvids.fra1.cdn.digitaloceanspaces.com/videoplayback%20(1).webm" type="video/webm"> 
    Your browser does not support the video tag. 
</video> 

    <h1 class="mt-2"> Welcome </h1> 
    {% if "username" in session %} 
    <h3 style="color: rgb(0, 174, 243); filter: drop-shadow(0 0 0.75rem rgb(97, 97, 97))">Hi {{session["username"]}} How are you?</h3> 
    {% endif %} 
    <h2>{{curDate}}</h2> 
    <h2 style="color: orange;">{{curTime}}</h2> 
    <!--<img style="filter: drop-shadow(0 0 1rem rgb(255, 0, 0));" src="{{ url_for('static', filename='img/7fae97b0d62464f833f75a7cce0a9902.gif')}}">-->
    
{% if "username" in session %} 
<h3> Logged in at: {{seshTS}}</h3> 
{% else %} 
<h2 style="color: rgb(255, 0, 0); filter: drop-shadow(0 0 0.75rem rgb(44, 0, 0));">Please Log In</h2> 
{% endif %} 

<div class="card mt-2" style="width: 18rem;">
  <img src="{{ url_for('static', filename='img/dc644b107345049.5fa4ae1b8c86e.gif') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Titanfall Network Scanner</h5>
    <p class="card-text">Access The Full Titanfall Network Database with over 400000 networks</p>
    <a href="{{url_for('tfnetworks')}}" class="btn btn-primary">Titanfall Network Scanner</a>
  </div>
</div>



<div class="mt-4"style="filter: drop-shadow(0 0 0.75rem rgb(126, 126, 126));">
  <a href="{{url_for('login')}}" class="btn btn-primary m-2 px-4">Login</a>
  <a href="{{url_for('signup')}}" class="btn btn-primary m-2 px-4">Sign Up</a>
  <a href="{{ url_for('emailMe') }}" class="btn btn-info m-2 px-4">Email Me</a>
  <a href="{{ url_for('userview') }}" class="btn btn-info m-2 px-4">User View</a>
  <a href="{{ url_for('logout') }}" class="btn btn-warning m-2 px-4">Logout</a>
  <a href="{{ url_for('admin') }}" class="btn btn-danger m-2 px-4">Admin Page</a>
</div>

<p style="color: azure;">Sessions last for 60 minutes</p>

<a href="https://github.com/xvi-r/Flask-APP" class="btn btn-success m-2 px-4">The Project</a>

<form method="POST" class="d-flex flex-column align-items-center mt-4" style="max-width: 400px; margin:auto;">
    <div class="mb-3 w-100">
        <label for="streamerName" class="form-label text-white">Enter Streamer Name</label>
        <input type="text" class="form-control" id="streamerName" name="streamerName" placeholder="teddybrown61" maxlength="20">
    </div>
</form>

{% if streamerName != "" %}
    <h2 {% if isLive == "🔴 NOT LIVE"%} style="color: brown;" {% else %} style="color: rgb(9, 255, 0); filter: drop-shadow(0 0 0.75rem rgb(0, 255, 76));" {% endif %} > {{streamerName}}: {{isLive|safe}} </h2>
{% endif %}


{% endblock %}
