    {% extends "base.html" %}
    {% block title %}Networks{% endblock %}

    {% block head%}
    {% endblock %}

    {% block body%}
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endwith %}
    


    <body class="d-flex flex-column justify-content-center align-items-center vh-20 text-center"> 
    
        <!-- Background video --> 
<video id="bg-video" autoplay muted loop playsinline preload="auto"> 
    <source src="https://backgroundvids.fra1.cdn.digitaloceanspaces.com/videoplayback%20(1).webm" type="video/webm"> 
    Your browser does not support the video tag. 
</video> 
    
    <h1 style="color: azure;">TITANFALL2 NETWORKS</h1><hr>
    <p style="color: azure;">Only search 1 term at a time</p>

{% if network %}
<div class="container-fluid text-center p-3">
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">  ID</th>
            <th scope="col">Name</th>
            <th scope="col">clantag</th>
            <th scope="col">Motd</th>
            <th scope="col">Category</th>
            <th scope="col">Type</th>
            <th scope="col">Visibility</th>
            <th scope="col">Regions</th>
            <th scope="col">Languages</th>
            <th scope="col">utcHappyHourStart</th>
            <th scope="col">HappyHourStart</th>
            <th scope="col">Creator UID</th>
            <th scope="col">Creator Name</th>
            <th scope="col">Kills</th>
            <th scope="col">Wins</th>
            <th scope="col">Xp</th>
            <th scope="col">Member Count</th>
        </tr>
                <tr>    
                    <td>{{network.id}}</td>
                    <td>{{network.name}}</td>
                    <td>{{network.clantag}}</td>
                    <td>{{network.motd}}</td>
                    <td>{{network.category.capitalize()}}</td>
                    <td>{{network.type.capitalize()}}</td>
                    <td>{{network.visibility.capitalize()}}</td>
                    <td>{{network.regions.capitalize()}}</td>
                    <td>{{network.languages}}</td>
                    <td>{{network.utcHappyHourStart}}</td>
                    <td>{{network.happyHourStart}}</td>
                    <td>{{network.creatorUID}}</td>
                    <td>{{network.creatorName}}</td>
                    <td>{{network.kills}}</td>
                    <td>{{network.wins}}</td>
                    <td>{{network.xp}}</td>
                    <td>{{network.memberCount}}</td>
                </tr>                                                           
    {% endif %}
        
    </table>   
</div>

    <form action="/tfnetworks" method="POST">

            <input class="form-control text-white border-secondary bg-dark " type="text" id="networkName" name="networkName" placeholder="Search via name">

            <input class="form-control mt-2 text-white border-secondary bg-dark" type="number" id="networkID" name="networkID" placeholder="Search via ID">

            <input class="form-control mt-2 text-white border-secondary bg-dark" type="text" id="creatorName" name="creatorName" placeholder="Search via Creator Name">
    
        <input class="mt-2 btn btn-secondary" type="submit" value="Search">
    </form>


    

    {% endblock %}